<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Math Time</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/3.2.0/css/bootstrap.min.css}"/>

</head>
<body>
<h1>Let's do Math!</h1>
<form action="/">
    <div class="form-group">
        <label for="name">Want to save this operation? Enter your name here:</label>
        <input type="text" name="name" id="name"/>
    </div>
    <input type="text" name="firstOperand" th:value="${result}"/>
    <select name="operatorSelect" id="operator-select">
        <option value="+">+</option>
        <option value="-">-</option>
        <option value="*">*</option>
        <option value="/">/</option>
    </select>
    <input type="text" name="secondOperand"/>
    <input type="submit" name="Calculate"/>
</form>
<h3>Your Full Equation was: </h3>
<h3 th:text="${fullEquation}"></h3>
<h3>Your Result was:</h3>
<h3 th:text="${result}"></h3>
</body>
</html>